# Collections

### Collections are those variable who maintain more than one constant in a single variable
### Default collections supported are
### 1. Lists
### 2. Dictionaries
### 3. Tuple
### 4. Sets

# Lists in Python

In [1]:
#Creation of list ---- [] (square brackets)
# Homogenous list ----- list following only one datatype
variable1 = [1,2,3,4,5,6,7,8,9,10]
variable1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#Elements with heterogenous datatypes
# Heterogenous list ---- list following multiple datatypes
variable2 = [1.2,'Prashant','Y',11,23,[2,3]]
variable2

[1, 'Prashant', 'Y', 11, 23, [2, 3]]

In [3]:
type(variable1)

list

In [4]:
type(variable2)

list

In [ ]:
#Lets say you want to access elements in the list 
# Variation 1 --- Accessing Single Element
variable1 = [1,2,3,4,5,6,7,8,9,10]

In [5]:
# To extract element in the list you will be using indexes
variable1[4]

5

In [6]:
# To Extract the series of elements
# [start_index:upperbound] -----> where upperbound = end_index + 1
variable1[1:9]

[2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Extract 3
variable2 = [1.2,'Prashant','Y',11,23,[2,3]]
variable2[5]

[2, 3]

In [9]:
temp = variable2[5]

In [10]:
temp

[2, 3]

In [11]:
temp[1]

3

In [12]:
variable2[5][1]

3

In [13]:
#Practice List with functions available 
# https://www.w3schools.com/python/python_lists.asp

In [14]:
variable1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
variable1[7] = "Prashant"
variable1

[1, 2, 3, 4, 5, 6, 7, 'Prashant', 9, 10]

In [16]:
#The above behavior is called Mutability... Some thing that can be changed

In [17]:
list1 = [1,2,'US',['China',65,34,['India',4567,34,['Goa']]]]

In [27]:
#Question 1 --- How many elements are present in list1? ----> 4
list1[3][3][3][0]

'Goa'

In [28]:
list1[3][3][3][1] #If the index is out of bounds

IndexError: list index out of range

# Dictionaries

In [29]:
#Create a Dictionary -----> {}  ---- data is represented in the form of Key, Value type
capitals = {
    'Maharashtra':'Mumbai',
    'Karnataka' : 'Bangalore',
    'Rajasthan' : 'Jaipur'
}

#We use dictionary in a situation where we need Lookup tables.

In [30]:
#Accessing values using key 
capitals['Rajasthan']

'Jaipur'

In [31]:
#Accessing values using key 
capitals['Goa']

KeyError: 'Goa'

In [32]:
#Insert another k,v pair
capitals['Goa'] = 'Panjim'
capitals

{'Goa': 'Panjim',
 'Karnataka': 'Bangalore',
 'Maharashtra': 'Mumbai',
 'Rajasthan': 'Jaipur'}

In [33]:
# Operator ---> in
'Goa' in capitals

True

In [34]:
'Bihar' in capitals

False

In [35]:
capitals

{'Goa': 'Panjim',
 'Karnataka': 'Bangalore',
 'Maharashtra': 'Mumbai',
 'Rajasthan': 'Jaipur'}

In [36]:
capitals['Goa'] = 'Panaji'
capitals

{'Goa': 'Panaji',
 'Karnataka': 'Bangalore',
 'Maharashtra': 'Mumbai',
 'Rajasthan': 'Jaipur'}

In [37]:
# Delete

del capitals['Goa']

capitals

{'Karnataka': 'Bangalore', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [38]:
# Dictionaries Docs for Practice
# https://www.w3schools.com/python/python_dictionaries.asp

# Tuples

In [39]:
#For tuple creation ----> ()
tuple1 = (1,2,3,4)

In [41]:
tuple1[0:2]

(1, 2)

In [42]:
tuple1[0]

1

In [44]:
tuple1[0]= 'Prashant'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Tuples are IMMUTABLE in nature

In [ ]:
# Tuples Doc ----> https://www.w3schools.com/python/python_tuples.asp

# Sets

In [45]:
#Sets ---> {} ------->
s1 = {1,2,33,33,33,4,4,3,3}
s1

{1, 2, 3, 4, 33}

In [ ]:
#Sets always maintain unique values
# https://www.w3schools.com/python/python_sets.asp