In [39]:

import numpy as np
import pandas as pd
from  numpy.random import randn
np.random.seed(101)

In [40]:
labels= ['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
dic = {'a':1,'b':2,'c':3}

In [41]:
pd.Series(dic)

a    1
b    2
c    3
dtype: int64

In [42]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [43]:
pd.Series(my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [44]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [45]:
pd.Series([1,2,3,4],['USA','GERMANY','INDIA','CA'])

USA        1
GERMANY    2
INDIA      3
CA         4
dtype: int64

In [46]:
ser1=pd.Series([1,2,3,4],['USA','GERMANY','INDIA','CA'])
ser1

USA        1
GERMANY    2
INDIA      3
CA         4
dtype: int64

In [47]:
ser1[1]

2

In [48]:
ser1['INDIA']

3

In [49]:
ser1=pd.Series([1,2,3,4],['USA','GERMANY','INDIA','CA'])

ser2=pd.Series([1,2,3,4],['USA','ENGLAND','INDIA','CA'])

ser1+ser2

CA         8.0
ENGLAND    NaN
GERMANY    NaN
INDIA      6.0
USA        2.0
dtype: float64

In [70]:
#DataFrame Creation
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [54]:
df=pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [56]:
df['W']

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [59]:
type(df["W"])

pandas.core.series.Series

In [62]:
df.W

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [64]:
df[['W','Z']]

          W         Z
A -1.467514  0.485809
B  0.392489  1.541990
C  0.666319  1.407338
D  0.641806  1.028293
E -1.972605 -1.223082

In [71]:
df['new']=df['W']+df['Z']
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.277120
B  0.041460 -0.411055 -0.771329  0.110477  0.151937
C -0.804652  0.253548  0.649148  0.358941 -0.445711
D -1.080471  0.902398  0.161781  0.833029 -0.247442
E  0.975720 -0.388239  0.783316 -0.708954  0.266766

In [67]:
#dropping column
df.drop('new',axis=1,inplace=True)
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [72]:
df.drop('E', axis=0,inplace=True)
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.277120
B  0.041460 -0.411055 -0.771329  0.110477  0.151937
C -0.804652  0.253548  0.649148  0.358941 -0.445711
D -1.080471  0.902398  0.161781  0.833029 -0.247442

In [73]:
df.shape

(4, 5)

In [74]:
#Getting Rows
df.loc['A']

W      1.606780
X     -1.115710
Y     -1.385379
Z     -1.329660
new    0.277120
Name: A, dtype: float64

In [78]:

df.iloc[0]

W      1.606780
X     -1.115710
Y     -1.385379
Z     -1.329660
new    0.277120
Name: A, dtype: float64

In [81]:
#Get value
df.loc['A','X']

-1.1157099674628352

In [83]:
df.loc[['A','B'],['W','X']]

         W         X
A  1.60678 -1.115710
B  0.04146 -0.411055

In [84]:
df=pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
B -1.678284  0.333973 -0.532471  2.117727
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931
E -0.251897 -0.578120  0.236996  0.200780

In [85]:
df>0

       W      X      Y      Z
A   True  False   True   True
B  False   True  False   True
C   True   True   True  False
D   True   True   True  False
E  False  False   True   True

In [86]:
boolDF=df>0
boolDF

       W      X      Y      Z
A   True  False   True   True
B  False   True  False   True
C   True   True   True  False
D   True   True   True  False
E  False  False   True   True

In [87]:
df[boolDF]

          W         X         Y         Z
A  0.586847       NaN  0.677535  0.026105
B       NaN  0.333973       NaN  2.117727
C  0.197524  2.302987  0.729024       NaN
D  0.305632  0.243178  0.864165       NaN
E       NaN       NaN  0.236996  0.200780

In [88]:
df[df>0]

          W         X         Y         Z
A  0.586847       NaN  0.677535  0.026105
B       NaN  0.333973       NaN  2.117727
C  0.197524  2.302987  0.729024       NaN
D  0.305632  0.243178  0.864165       NaN
E       NaN       NaN  0.236996  0.200780

In [89]:
df['W']>0

A     True
B    False
C     True
D     True
E    False
Name: W, dtype: bool

In [90]:
df[df['W']>0]

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931

In [93]:
resultDF=df[df['W']>.2]
resultDF

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
D  0.305632  0.243178  0.864165 -1.560931

In [94]:
resultDF['X']

A   -1.621348
D    0.243178
Name: X, dtype: float64

In [95]:
df[df['W']>.2]['X']

A   -1.621348
D    0.243178
Name: X, dtype: float64

In [97]:
df[df['W']>.2][['W','Z']]

          W         Z
A  0.586847  0.026105
D  0.305632 -1.560931