In [1]:
sc

In [ ]:
#sc encapsulates your data in the form of RDD
#sqlContext encapsulates your data in the form of DataFrame

In [1]:
nums= sc.parallelize([1,2,3,4]) #Collection Objects
#sc.textFile(location)

In [2]:
nums

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [4]:
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print('%i ' % (num))

1
4
9
16

In [5]:
#SqlContext Example
sqlContext

In [6]:
list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)] #Collection Object

In [7]:
rdd = sc.parallelize(list_p) #RDD

In [13]:
#Converting RDD to DataFrame
from pyspark.sql import Row
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1]))) #Data Conversion from RDD to Row object

DF_ppl = sqlContext.createDataFrame(ppl) #Set of Row Object together forms DataFrame

In [8]:
rdd.map(lambda x: Row(name=x[0], age=int(x[1])))

PythonRDD[4] at RDD at PythonRDD.scala:53

In [14]:
DF_ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
DF_ppl

DataFrame[age: bigint, name: string]

In [16]:
DF_ppl.registerTempTable("table1") #Enabling SQL commands over the dataFrame object

In [21]:
sqlContext.sql("select * from table1").show()

+---+-----+
|age| name|
+---+-----+
| 19| John|
| 29|Smith|
| 35| Adam|
| 50|Henry|
+---+-----+