### An HR company has hired you as a ML expert to create a model that can predict the salary of the employee based on his/her YearsExperience

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
data = pd.read_csv('Salary_Data.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
YearsExperience    31 non-null float64
Salary             31 non-null float64
dtypes: float64(2)
memory usage: 576.0 bytes

In [29]:
data.describe()

       YearsExperience        Salary
count        31.000000  3.100000e+01
mean          8.367742  3.584299e+09
std          17.233599  1.995611e+10
min           1.100000  3.773100e+04
25%           3.200000  5.679950e+04
50%           4.900000  6.602900e+04
75%           8.050000  1.034420e+05
max         100.000000  1.111110e+11

In [38]:
data = data.drop(data.index[data.YearsExperience > 11])

In [39]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [40]:
#Seperate your data as features and label
features = data.iloc[:,0].values
label = data.iloc[:,1].values

In [41]:
#Rule when working with Regression using Sklearn
#SKLEARN expects your features and label to be in 2d form for Regression Algos
print(features.shape)
print(label.shape)

(30,)
(30,)

In [42]:
features = features.reshape(-1,1)
label = label.reshape(-1,1)
print(features.shape)
print(label.shape)

(30, 1)
(30, 1)

In [50]:
#Create Training and Testing sets
# Training set will be used to train our model (Learning)
# Testing set will be used to test our model for accuracy/generalization (Testing)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                label,
                                                test_size=0.2,
                                                random_state=30)

In [51]:
#Create our model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train) # Training my model
                        # Creating intercept and coeff

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [52]:
#Check the generalization
print(lr.score(X_train,y_train)) #Known data
print(lr.score(X_test,y_test)) #Unknown data

0.9400496694274888
0.9944092048209744

In [36]:
#If your training score is less than testing score, you can conclude that the model is a 
# generalized model !!!!

In [49]:
#Technique to do experimental trail and error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
for i in range(1,101):
    X_train,X_test,y_train,y_test = train_test_split(features,
                                                label,
                                                test_size=0.2,
                                                random_state=i)
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    train_score = lr.score(X_train,y_train)
    test_score = lr.score(X_test,y_test)
    if train_score < test_score:
        print('Train Score : {} Test Score: {} Random Seed: {}'.format(train_score,test_score,i))

Train Score : 0.9545249190394052 Test Score: 0.9695039421049821 Random Seed: 3
Train Score : 0.9528197369259258 Test Score: 0.9631182154839475 Random Seed: 8
Train Score : 0.9494673013344646 Test Score: 0.9816423482070255 Random Seed: 10
Train Score : 0.9527636176933665 Test Score: 0.9606215790278543 Random Seed: 14
Train Score : 0.9460054870434312 Test Score: 0.9835849730044817 Random Seed: 26
Train Score : 0.9527636606684406 Test Score: 0.9636425773684423 Random Seed: 27
Train Score : 0.9400496694274888 Test Score: 0.9944092048209744 Random Seed: 30
Train Score : 0.9486350116716654 Test Score: 0.9778242092591889 Random Seed: 37
Train Score : 0.9473317052697812 Test Score: 0.9724794487377619 Random Seed: 38
Train Score : 0.9492886917497556 Test Score: 0.9928344802911048 Random Seed: 39
Train Score : 0.9491742100347064 Test Score: 0.9802519469633169 Random Seed: 41
Train Score : 0.948821675263085 Test Score: 0.9789129767378081 Random Seed: 46
Train Score : 0.9486450781125914 Test Score: 0.98399193890564 Random Seed: 47
Train Score : 0.9500780390200971 Test Score: 0.980277279178695 Random Seed: 48
Train Score : 0.9541375225175409 Test Score: 0.9608624689052039 Random Seed: 51
Train Score : 0.952756273050018 Test Score: 0.9743646706957548 Random Seed: 52
Train Score : 0.9504872715098402 Test Score: 0.9804067424885895 Random Seed: 56
Train Score : 0.9473987125707488 Test Score: 0.9719509793938971 Random Seed: 62
Train Score : 0.9505483928196958 Test Score: 0.95820089851047 Random Seed: 63
Train Score : 0.9562672856609079 Test Score: 0.9588832495320915 Random Seed: 67
Train Score : 0.9379320689503841 Test Score: 0.9791787060652751 Random Seed: 68
Train Score : 0.9504137960985712 Test Score: 0.9694792167947474 Random Seed: 71
Train Score : 0.9562030951258303 Test Score: 0.9562771755752736 Random Seed: 72
Train Score : 0.9453900863447221 Test Score: 0.981214310330871 Random Seed: 73
Train Score : 0.9553251075019685 Test Score: 0.9618591691900452 Random Seed: 74
Train Score : 0.9533893439783429 Test Score: 0.9652242905568412 Random Seed: 75
Train Score : 0.9504675637559191 Test Score: 0.9782012346646264 Random Seed: 77
Train Score : 0.9464278082328255 Test Score: 0.9861836585536035 Random Seed: 78
Train Score : 0.9490941521623282 Test Score: 0.9806625667591384 Random Seed: 79
Train Score : 0.9500955424260096 Test Score: 0.9760426364249574 Random Seed: 81
Train Score : 0.9466573106897649 Test Score: 0.9771739926822539 Random Seed: 85
Train Score : 0.9473439749203112 Test Score: 0.9743110017459555 Random Seed: 86
Train Score : 0.9423648233451756 Test Score: 0.9770761663991681 Random Seed: 88
Train Score : 0.946728531416641 Test Score: 0.9744265816506664 Random Seed: 89
Train Score : 0.9529778812782739 Test Score: 0.9676701872390631 Random Seed: 90
Train Score : 0.9469346629378338 Test Score: 0.9793995823406391 Random Seed: 92
Train Score : 0.9534166513146051 Test Score: 0.9682219576297961 Random Seed: 93
Train Score : 0.9514417860805683 Test Score: 0.9676991009836634 Random Seed: 94
Train Score : 0.9514027940440705 Test Score: 0.9720725422361338 Random Seed: 100

In [53]:
# Deploy the model
import pickle
pickle.dump(lr,open('SalaryPredictor.model','wb'))

In [55]:
#Equation
#Salary = b0 + b1(yearsExper)
print("The equation of regression line is Salary = {} + {} * YearsExperience".format(lr.intercept_,lr.coef_))

The equation of regression line is Salary = [25566.43561641] + [[9481.03756369]] * YearsExperience

In [56]:
lr.predict(np.array([[0]]))

array([[25566.43561641]])