In [18]:
import pandas as pd

In [19]:
data = pd.DataFrame([[100],[200]])

In [20]:
data

     0
0  100
1  200

In [21]:
data.to_csv('data1.csv', index=False)

In [22]:
data2 = pd.DataFrame([[300]])

In [23]:
data2

     0
0  300

In [24]:
data2.to_csv('data1.csv', index=False, mode='a', header=None)